---
model_list:
  - model_name: anthropic-claude-3-7-sonnet
    litellm_params:
      model: anthropic/claude-3-7-sonnet-20250219
      api_key: os.environ/ANTHROPIC_API_KEY

  - model_name: anthropic-claude-4-sonnet
    litellm_params:
      model: anthropic/claude-sonnet-4-20250514
      api_key: os.environ/ANTHROPIC_API_KEY

  - model_name: anthropic-claude-4-opus
    litellm_params:
      model: anthropic/claude-opus-4-20250514
      api_key: os.environ/ANTHROPIC_API_KEY

  # Best "fast" OpenAI
  - model_name: openai-gpt-4o
    litellm_params:
      model: openai/gpt-4o
      api_key: os.environ/OPENAI_API_KEY

  # Best "richer" OpenAI
  - model_name: openai-gpt-4.5-preview-2025-02-27
    litellm_params:
      model: openai/gpt-4.5-preview-2025-02-27
      api_key: os.environ/OPENAI_API_KEY

  - model_name: openai-o4-mini
    litellm_params:
      model: openai/o4-mini
      api_key: os.environ/OPENAI_API_KEY

  - model_name: openai-gpt-image-1
    litellm_params:
      model: openai/gpt-image-1
      api_key: os.environ/OPENAI_API_KEY

  - model_name: openai-dall-e-3
    litellm_params:
      model: openai/dall-e-3
      api_key: os.environ/OPENAI_API_KEY

  - model_name: google-gemini-2.5-flash
    litellm_params:
      model: gemini/gemini-2.5-flash
      api_key: os.environ/GEMINI_API_KEY

  - model_name: google-gemini-2.5-pro
    litellm_params:
      model: gemini/gemini-2.5-pro
      api_key: os.environ/GEMINI_API_KEY

  - model_name: bedrock-titan-image-generator-v2
    litellm_params:
      model: bedrock/amazon.titan-image-generator-v2:0
      aws_access_key_id: os.environ/AWS_ACCESS_KEY_ID
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_region_name: os.environ/AWS_REGION_NAME

  - model_name: bedrock-titan-embed-text-v2
    litellm_params:
      model: bedrock/amazon.titan-embed-text-v2:0
      aws_access_key_id: os.environ/aws_access_key_id
      aws_secret_access_key: os.environ/aws_secret_access_key
      aws_region_name: os.environ/aws_region_name

  - model_name: bedrock-cohere-embed-english-v3
    litellm_params:
      model: bedrock/cohere.embed-english-v3
      aws_access_key_id: os.environ/AWS_ACCESS_KEY_ID
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_region_name: os.environ/AWS_REGION_NAME

  - model_name: bedrock-deepseek-r1
    litellm_params:
      model: bedrock/deepseek.r1-v1:0
      aws_access_key_id: os.environ/AWS_ACCESS_KEY_ID
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_region_name: os.environ/AWS_REGION_NAME

  - model_name: bedrock-llama3-3-70b-instruct
    litellm_params:
      model: bedrock/us.meta.llama3-3-70b-instruct-v1:0
      aws_access_key_id: os.environ/AWS_ACCESS_KEY_ID
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_region_name: os.environ/AWS_REGION_NAME

  - model_name: bedrock-llama4-maverick-17b-instruct
    litellm_params:
      model: bedrock/us.meta.llama4-maverick-17b-instruct-v1:0
      aws_access_key_id: os.environ/AWS_ACCESS_KEY_ID
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_region_name: os.environ/AWS_REGION_NAME

  - model_name: bedrock-llama4-scout-17b-instruct
    litellm_params:
      model: bedrock/us.meta.llama4-maverick-17b-instruct-v1:0
      aws_access_key_id: os.environ/AWS_ACCESS_KEY_ID
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_region_name: os.environ/AWS_REGION_NAME

  - model_name: bedrock-mistral-8x7b-instruct
    litellm_params:
      model: bedrock/mistral.mixtral-8x7b-instruct-v0:1
      aws_access_key_id: os.environ/AWS_ACCESS_KEY_ID
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_region_name: os.environ/AWS_REGION_NAME

  - model_name: bedrock-stability-sd3-5-large
    litellm_params:
      model: bedrock/stability.sd3-5-large-v1:0
      aws_access_key_id: os.environ/AWS_ACCESS_KEY_ID
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_region_name: us-west-2

  - model_name: local-gemma-3n-4b
    litellm_params:
      model: openai/google/gemma-3n-e4b
      api_key: none
      api_base: http://agnolotti.capybara-tuna.ts.net:1234/v1/

  - model_name: local-gemma3-12b
    litellm_params:
      model: openai/google/gemma-3-12b
      api_key: none
      api_base: http://agnolotti.capybara-tuna.ts.net:1234/v1/

  - model_name: local-mistral-7b
    litellm_params:
      model: openai/mistralai/mistral-7b-instruct-v0.3
      api_key: none
      api_base: http://agnolotti.capybara-tuna.ts.net:1234/v1/

  - model_name: local-qwen3-coder-30b
    litellm_params:
      model: openai/qwen/qwen3-coder-30b
      api_key: none
      api_base: http://agnolotti.capybara-tuna.ts.net:1234/v1/

  - model_name: local-qwen3-30b
    litellm_params:
      model: openai/qwen/qwen3-30b-a3b-2507
      api_key: none
      api_base: http://agnolotti.capybara-tuna.ts.net:1234/v1/

  - model_name: local-phi4-mini-reasoning
    litellm_params:
      model: openai/microsoft/phi-4-mini-reasoning
      api_key: none
      api_base: http://agnolotti.capybara-tuna.ts.net:1234/v1/

  - model_name: local-devstral-small
    litellm_params:
      model: openai/mistralai/devstral-small-2507
      api_key: none
      api_base: http://agnolotti.capybara-tuna.ts.net:1234/v1/

  - model_name: local-deepseek-r1-8b
    litellm_params:
      model: openai/deepseek/deepseek-r1-0528-qwen3-8b
      api_key: none
      api_base: http://agnolotti.capybara-tuna.ts.net:1234/v1/

  - model_name: local-llama-31-8b
    litellm_params:
      model: openai/llama3.1
      api_key: none
      api_base: http://agnolotti.capybara-tuna.ts.net:11434/v1/

  - model_name: local-llama-32-3b
    litellm_params:
      model: openai/llama3.2
      api_key: none
      api_base: http://agnolotti.capybara-tuna.ts.net:11434/v1/

  - model_name: local-gpt-oss-20b
    litellm_params:
      model: openai/gpt-oss:20b
      api_key: none
      api_base: http://agnolotti.capybara-tuna.ts.net:11434/v1/

  - model_name: local-nomic-embed-text
    litellm_params:
      model: openai/nomic-embed-text:v1.5
      api_key: none
      api_base: http://agnolotti.capybara-tuna.ts.net:11434/v1/

assistant_settings:
  custom_llm_provider: openai
  litellm_params:
    api_key: os.environ/OPENAI_API_KEY

litellm_settings:
  # Drop unsupported OpenAI params - https://docs.litellm.ai/docs/completion/input
  drop_params: true
  disable_telemetry: true
  request_timeout: 600
  redact_user_api_key_info: true
  set_verbose: false

general_settings:
  master_key: os.environ/LITELLM_MASTER_KEY
  database_url: os.environ/DATABASE_URL
  allow_requests_on_db_unavailable: true
  store_model_in:db: true
  store_prompts_in_spend_logs: true
